node_modules
npm-debug.log
dist
.git
.gitignore
.env
.env.local
.env.*.local
README.md
*.md
.vscode
.idea
.DS_Store
.eslintignore
jest.config.js
coverage
.nyc_output
.next
out
build
.turbo
*.tgz
.yarn/cache
.pnp
.cache
.notas
*.dockerfile
*.sql