RABBITMQ_DEFAULT_USER=guest
RABBITMQ_DEFAULT_PASS=1234
RABBITMQ_URL=amqp://guest:1234@rabbitmq:5672
MESSAGE_TIMEOUT=300000
MYSQL_ROOT_PASSWORD=1234
MYSQL_USER=palo
MYSQL_PASSWORD=contraseña
MYSQL_PORT=3306
REDIS_HOST=redis
REDIS_PORT=6379

SALT=8
JWT_REFRESH_SECRET=adsdsad
JWT_SECRET=dasdsdasdwdasda
REFRESH_TIME=86400000
ACCESS_TIME=600000
INTERNAL_ADMIN_PASSWORD=contraseña
PAYMENT_TIME=1800000

# VARIABLES DEL GATEWAY #
ACCEPTED_ORIGINS= https://localhost,http://localhost:4200
MP_SECRET_KEY='AGREGAR CREDENCIALES DE MERCADO PAGO'
MP_ACCESS_TOKEN='AGREGAR CREDENCIALES DE MERCADO PAGO'
FRONT_URL='Agregar url del front para respuestas mercado pago'
BACK_URL='Agregar url del back para recivir el webhook de mercado pago'

# VARIABLES DE LAS DBs #
ACCOUNT_DB_NAME=account_db
CART_DB_NAME=cart_db
PRODUCT_DB_NAME=product_db
ORDER_DB_NAME=order_db
URL=false
MYSQL_ACCOUNT_HOST=account_mysql
MYSQL_PRODUCT_HOST=product_mysql
MYSQL_CART_HOST=cart_mysql
MYSQL_ORDER_HOST=order_mysql